@tailwind base;
@tailwind components;
@tailwind utilities;

.article-title h2{
	display: block;
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.article-image a img{
	margin: 0 auto;
}

div.error{
	color: #f55;
}